.boxBodyText{
    width: 100%;
    height: 22rem;
    display: flex;
    align-items: center;
}

.boxBodyTextLine{
    width: 20%;
    height: 0.4rem;
    background-color: #f7992b;
    margin-top: 2rem !important;
}

.boxBodyTextPar{
    line-height: 1.8rem;
    font-size: 17px;
    font-weight: 100;
}
.BoxBodyImg{
    display: flex;
    margin-top: 7rem !important;
}
.BoxBodyImg img{
    width:94%;
    height: 30rem;
    object-fit: cover;
}

.bodyArchitecture{
    color: #fff;
    width: 90%;
    height: 35rem;
    background-image: url("/public/images/Architecture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: color;
    background-color: #00000050;
    font-weight: bold;
    cursor: pointer;
}

.bodyArchitecture:hover{
    color:#f7992b;
    transition: 1s all;
}

.bodyEngineering{
    color: #fff;
    width: 90%;
    height: 35rem;
    background-image: url("/public/images/Engineering.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: color;
    background-color: #00000050;
    font-weight: bold;
    cursor: pointer;
}

.bodyEngineering:hover{
    color:#f7992b;
    transition: 1s all;
}

.bodyInteriorDesign{
    color: #fff;
    width: 90%;
    height: 35rem;
    background-image: url("/public/images/Interior-Design.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: color;
    background-color: #00000050;
    font-weight: bold;
    cursor: pointer;
}

.bodyInteriorDesign:hover{
    color:#f7992b;
    transition: 1s all;
}
.mtInfo{
    margin-top: 2rem;
}
/* respansive */
@media(max-width: 1200px){
    .bodyArchitecture,.bodyEngineering,.bodyInteriorDesign{
        width: 100%;
        height: 28rem;
    }
    .BoxBodyImg{
        margin-top: 4rem !important;
    }
}
@media (max-width: 600px){
    .boxBodyText{
        margin-top: 3rem;
        align-items: start;
    }
    .BoxBodyImg{
        margin-top: 0 !important;
    }
    .bodyArchitecture , .bodyEngineering , .bodyInteriorDesign{
        height: 20rem !important;
    }
    .BoxBodyImg{
        margin-top: 0!important;
        margin-bottom: 2rem !important;
    }
    .boxBodyTextLine{
        margin-top: 1rem !important;
        margin-bottom: 1rem;
    }
}
