.boxBodyText{
    width: 100%;
    height: 22rem;
    display: flex;
    align-items: center;
}
.boxBodyTextLine{
    width: 20%;
    height: 0.4rem;
    background-color: #f7992b;
    margin-top: 2rem !important;
}
@media (max-width: 600px){
    .boxBodyText{
        margin-top: 3rem;
        align-items: start;
    }
    .boxBodyTextLine{
        margin-top: 1rem !important;
        margin-bottom: 1rem;
    }
}