.sliderHomePage{
    width: 100vw;
    min-height: 100vh;
    background-image:url("/public/images/slide-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-color: #00000060;
}
.sliderHomePageChild{
    display: flex ;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.sliderHomePageChildBtn{
    width: 32%;
    height: 4.5rem;
    margin-top: 3rem !important;
}

.textSliderSecond{
    font-size: 2.5rem;
}
/*responsive lg*/
@media only screen and (max-width: 1200px) {
    .sliderHomePageChildBtn{
        margin-top: 1rem !important;
        width : 30% !important;
    }
}
@media only screen and (max-width: 600px) {
    .sliderHomePageChildBtn{
        margin-top: 1rem !important;
        width : 40% !important;
    }
}
@media only screen and (max-width: 430px) {
    .textSliderSecond{
        font-size: 1.5rem;
    }
    .sliderHomePageChildBtn{
        margin-top: 1rem !important;
        width : 45% !important;
        height: 4rem !important;
        font-size: 15px !important;
    }
}
